@model IEnumerable<BusinessObject.Models.Song>

@{
    ViewData["Title"] = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- Nội dung bố cục của bạn ở đây -->
    <h1>Manager</h1>

<p><a asp-action="Create" class="btn btn-outline-success">Create New</a></p>
    <form asp-action="Manager" method="get" class="form-inline">
    <div class="input-group" style="width: 500px;">
        <input class="form-control" type="search" name="name" placeholder="Search..." value="@ViewBag.SearchName" id="inputDefault">
        <button class="btn btn-secondary" type="submit">Search Music</button>
    </div>
    </form>

    <div>
        @if (ViewBag.SearchResults != null)
        {
        <table class="table align-middle mb-0 table-hover table-striped container" style="border-radius:20px">
                <thead class="bg-black">
                    <tr>
                        <th>ID</th>
                        <th>Song</th>
                        <th>Status</th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-black">
                    @foreach (var song in ViewBag.SearchResults)
                    {
                        <tr>
                            <td class="fw-normal"> @song.Id</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="@song.ImgUrl"
                                         alt=""
                                         style="width: 45px; height: 45px"
                                         class="rounded-circle" />
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">@song.Title</p>
                                        <p class="text-muted mb-0">@song.Artist</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <audio controls>
                                    <source src="@song.FilePath" type="audio/mpeg">
                                    Trình duyệt của bạn không hỗ trợ phát nhạc.
                                </audio>
                            </td>
                            <td>
                            <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Edit", "Edit", new { id = song.Id }) </button>
                            <button type="button" class="btn btn-outline-danger">@Html.ActionLink("Delete", "Delete", new { id = song.Id})</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
        <table class="table align-middle mb-0 table-hover table-striped container" style="border-radius:20px">
                <thead class="bg-black">
                    <tr>
                        <th>ID</th>
                        <th>Song</th>
                        <th>Status</th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-black">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="fw-normal"> @Html.DisplayFor(modelItem => item.Id)</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src=" @Html.DisplayFor(modelItem => item.ImgUrl)"
                                         alt=""
                                         style="width: 45px; height: 45px"
                                         class="rounded-circle" />
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">  @Html.DisplayFor(modelItem => item.Title)</p>
                                        <p class="text-muted mb-0">@Html.DisplayFor(modelItem => item.Artist)</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <audio controls>
                                    <source src="@item.FilePath" type="audio/mpeg">
                                    Trình duyệt của bạn không hỗ trợ phát nhạc.
                                </audio>
                            </td>
                            <td>
                            <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </button>
                            <button type="button" class="btn btn-outline-danger">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

